<h1> All albums </h1>

<div class="container col-md-12">
  <%= link_to "New Album", new_album_path, class: "btn btn-primary pull-right" %>
</div>

<br><br>

<div class="row col-md-12">
  <% count = 0 %>
  <% @albums.each do |album| %>
    <% if count % 4 == 0 %>
      <div class="row">
    <% end %>
    
    <div class="col-md-3">
      <a href="<%= album_path(album) %>" class="thumbnail">
      <% if album.photo != nil %>
        <img src="<%= album.photo %>" class="img-responsive">
      <% else %>
        <img src="/404.gif" class="img-responsive">
      <% end %>
      </a>
      <%= link_to album.title, album_path(album) %>
    </div>

    <% if count % 4 == 3 %>
      </div>
    <% end %>
    <% count = count + 1 %>
  <% end %> 
</div>
