<h1> 所有相簿 </h1>

<% if current_user %>
<div class="container col-md-12">
  <%= link_to "新增相簿", new_album_path, class: "btn btn-primary pull-right" %>
</div>
<% end %>

<br><br>

<div class="continer col-md-12">
  <% count = 0 %>
  <% is_pair = true %>
  <% @albums.each do |album| %>
    <% if count % 4 == 0 %>
      <div class="row">
      <% is_pair = false %>
    <% end %>
    
    <% if current_user || (!current_user && !album.privated) %>
      <div class="col-md-3">
        <a href="<%= album_path(album) %>" class="thumbnail">
        <% if album.photo != nil %>
          <img src="<%= album.photo %>" class="img-responsive">
        <% else %>
          <img src="/404.gif" class="img-responsive">
        <% end %>
        </a>
        <center>
          <% if album.privated %>
            <p class="label label-danger"> 私人</p> 
          <% end %>
          <%= link_to album.title, album_path(album) %>
        </center>
      </div>

      <% if count % 4 == 3 %>
        <% is_pair = true %>
        </div>
      <% end %>
      <% count = count + 1 %>
    <% end %>
  <% end %>
  <% if !is_pair %>
    </div>
  <% end %>
</div>
