<h1><%= @album.title %></h1>

<div class="container col-md-12">
  <%= link_to "Add new photos", new_album_post_path(@album), class: "btn btn-primary pull-right" %>
  <%= link_to "Album category", albums_path, class: "btn btn-warning" %>
</div>

<div class="container">
  <% @photos.each do |photo| %>
    <div class="col-md-3 thum">
      <img src="<%= photo.avatar.url %>" class="img-responsive bg"  alt="Cinque Terre">
    </div>
  <% end %>
</div>

<style>
  .thum {
    width: 320px;
    height: 240px;
  }
  
  .bg {
    background-size: 100% 100%;
  }
</style>
